@import url("./AppCssVars.css");

@import url("./CommandLine.css");
@import url("./SvgRuler.css");
@import url("./ZoomBox.css");
@import url("./SvgScene.css");
@import url("./AttributeEditor.css");
@import url("./Toolbar.css");
@import url("./AppToolbar.css");
@import url("./LayerList.css");
@import url("./Message.css");
@import url("./Fun.css");

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: grey;
    /*#e74c3c;*/
    overflow: hidden;
    /*no scrollbar*/
    touch-action: manipulation;
    /*user can not select texts and elements*/
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.btn:focus,
.form-control:focus {
    outline: 0 !important;
    box-shadow: none;
}