/* appbar.css
*/

/* see https://una.im/local-css-vars/ */
:root {
    --debug-border: 0px dashed rgb(0, 213, 255);
}

/*scope*/
#appbar {
    position: absolute;
    z-index: 2;
    top: calc(var(--toolbar-gap) + var(--ruler-height));
    left: calc(var(--toolbar-gap) + var(--ruler-height));
    width: 79px;
    height: auto;
    max-height: calc(100% - var(--ruler-height) - var(--cmd-line-height) - 2*var(--toolbar-gap));
    overflow: scroll;
    border: var(--debug-border);
}