#cmdLine {
    position: absolute;
    top: calc(100% - 38px);
    width: calc(100%);
    height: 38px;
    background-color: white;
    background-color: transparent;
}

#cmdLineInput {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: transparent;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

#cmdLineSuggestion {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

#cmdLineBatch {
    position: absolute;
    z-index: 100;
    top: 0;
    left: calc(100% - var(--editor-width));
    width: var(--editor-width);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}