/* 
 see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
*/

:root {
    --debug-border2: 0px dashed rgb(0, 213, 255);
}

#toolbar {
    height: auto;
    width: 100%;
    border: var(--debug-border2);
    /*cursor: pointer;*/
}



